# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore build output
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
*.swp
*.swo
.idea/
.vscode/*

# Exceptions
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/tasks.json

# Ignore npm debug files
npm-debug.log*

# Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.pdb
*.obj
*.dll
*.exe
*.log
*.tlog
*.lastcodeanalysissucceeded
*.ide
*.sdf
*.opensdf
*.ipch
*.aps
*.ncb
*.iobj
*.ipdb
*.idb
*.pch
*.bsc
*.ilk
*.dmp
*.tmp
*.tmp_proj
*.userosscache
*.rsuser
*.rsuse

# VS Code
.vscode/